# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore test files
tests/
*.test.py

# Ignore data
*.csv
*.h5
*.npy
data/
logs/

# Ignore git files
.git
.gitignore

# Ignore Jupyter notebooks
*.ipynb

*.vs
data/
models/

# Ignore Dockerfile itself (optional)
Dockerfile
